<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask For Morfi</title>
    <!-- link a el css, siempre va ultimo -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="indexBody">
    <header>
        <div class="headerDiv">
            <button class="burger-menu">
                <img src="/images/hambMenu2.png" class="menuHambImg">
            </button> 
            <nav class="logInNav">
                <ul>
                    <li><a href="login">Log In</a></li>
                    <li><a href="register">Sign Up</a></li>
                </ul>
            </nav>
        </div>
        <h1>Ask For Morfi</h1>
        <img src="/images/LOGO.png" alt="Logo" class="logo">
        <h4>Lo pedís, lo tenés</h4>
    </header>

    <main class="indexMain">
        <div class="containerSlider">
            <ul class="slider">
                <li id="slide1">
                    <img src="images/slide1.jpeg" alt="slide 1">
                </li> <!--
                <li id="slide2">
                    <img src="images/slide2.jpeg" alt="slide 2">
                </li>
                <li id="slide3">
                    <img src="images/slide3.jpeg" alt="slide 3">
                </li>
                <li id="slide4">
                    <img src="images/slide4.jpeg" alt="slide 4">
                </li>
            </ul>
            -->
        </div>
        <nav class="sliderMenuNav">
            <ul class="sliderMenu">
                <li><a href="#slide1">1</a></li>
                <li><a href="#slide2">2</a></li>
                <li><a href="#slide3">3</a></li>
                <li><a href="#slide4">4</a></li>
            </ul>
        </nav>
        <div>
            <h3>Sobre Nosotros: </h3>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, delectus? Consequuntur facere minus, at, qui tenetur ratione ducimus illum accusamus exercitationem aspernatur debitis inventore perferendis eligendi sed quod unde incidunt?
        </div>
    </main>
    
    <footer>
        <div>
            Hola Gente , soy un footer
            <br>
            Sigo siendo el Footer, Hola de Nuevo
        </div>
    </footer>
   
</body>
</html>