<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask For Morfi</title>
    <link rel="shortcut icon" href="/images/iconoPestania.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap" rel="stylesheet">
    <!-- link a el css, siempre va ultimo -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="indexBody">
    <header>
        <h1><a href="./">Ask For Morfi</a></h1>
        <img src="/images/LOGO.png" alt="Logo" class="logo">
        <h4>Lo pedís, lo tenés!</h4>
    </header>
    <div class="headerDiv">
        <nav class="navigationBar">
            <ul>
                <li><a href="/productDetail">Nuestros Productos</a></li>
                <li><a href="/productCart">Tu Carrito</a></li>
            </ul>
        </nav>
        <nav class="logInNav">
            <ul>
                <li><a href="login" class="loginLiA">Log In</a></li>
                <li><a href="register" class="loginLiA">Sign Up</a></li>
            </ul>
        </nav>
    </div>

    <main class="indexMain">
    <div class="contentDiv">
            <h3>Sobre Nosotros</h3>
                <p>
                Nuestro proyecto comenzó frente a la necesidad de un público que pudiese acceder a todo tipo de comida en lugar a uno regido sólo por los valores del mercado, tanto que buscamos ofrecer todas las ramas que el mundo culinario tiene para degustar a un precio accesible.
                </p> 
    </div>
        <div class="fatherSlider">
            <div class="slider" id="slider">
                <div class="sliderSection"></div>
                    <img src="/images/slide1.jpeg" alt="" class="sliderImg">
                <div class="sliderSection"></div>
                    <img src="/images/slide2.jpeg" alt="" class="sliderImg">
                <div class="sliderSection"></div>
                    <img src="/images/slide3.jpeg" alt="" class="sliderImg">
                <div class="sliderSection"></div>
                    <img src="/images/slide4.jpeg" alt="" class="sliderImg">
                <div class="sliderBtn sliderLeftButton">&#60</div>
                <div class="sliderBtn sliderRightButton">&#62</div>
            </div>
    </div>
    <div class="contentDiv">
            <h3>Experiencias</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, delectus? Consequuntur facere minus, at, qui tenetur ratione ducimus illum accusamus exercitationem aspernatur debitis inventore perferendis eligendi sed quod unde incidunt?
                </p>
    </div>
    </main>
    
    <footer>
        <div>
        </div>
        <div class="copyrightFooter">
            © 2021 Ask For Morfi SRL | Todos los derechos reservados |
        </div>
    </footer>
   
</body>
</html>