<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
     <!-- link a el css, siempre va ultimo -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="bodyLogin">
    <h1>Iniciar sesión</h1>
    <form action="/registro" method="POST" class="loginForm">
        <div class="userNameDiv">   
            <input type="text" name="username" placeholder="Nombre de usuario">
        </div>
        <div>
            <input type="password" name="clave" placeholder="Contraseña">
        </div>
        <div class="buttonDivLoginForm">
        <button type="submit">Registrarse</button>
        </div>
    
    </form>
    <footer>
        <div>
            Hola Gente , soy un footer
            <br>
            Sigo siendo el Footer, Hola de Nuevo
        </div>
    </footer>
</body>
</html>