<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product Cart</title>
        <link rel="shortcut icon" href="/images/iconoPestania.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <!-- link a el css, siempre va ultimo -->
        <link rel="stylesheet" href="css/styles.css">
    </head>
<body>
    <header>
        <h1><a href="./">Ask For Morfi</a></h1>
        <img src="/images/LOGO.png" alt="Logo" class="logo">
        <h4>Lo pedís, lo tenés!</h4>
    </header>

    <main>

        <h4>Tu carrito de compras</h4>

        <section>
            <article>
                <div class="product_image">
                <img src="/images/slide1.jpeg" alt="" class="cartImg">
                </div>
                <div class="item-description">
                        <div class="product-name">
                            Nombre del artículo
                        </div>
                        <div class="product-numbers" >
                            <div class="product-quantity">
                                <button class="plus" > <i class="fas fa-minus"></i> </button> <div class="quantity-only"> 3 </div> <button class="plus" > <i class="fas fa-plus"></i> </button>
                            </div>
                            <div class="product-price">
                            $ 33.333
                            </div>
                        </div>
                        <div class="subtotal">
                            <div> Subtotal =  </div> <div> $99.999 </div>
                            
                        </div>
                        <button class="delete-item" > <i class="fas fa-trash-alt"></i> </button>
                </div>
            </article>
            <article>
                <div class="product_image">
                <img src="/images/slide2.jpeg" alt="" class="cartImg">
                </div>
                <div class="item-description">
                        <div class="product-name">
                            Nombre del artículo
                        </div>
                        <div class="product-numbers" >
                            <div class="product-quantity">
                                <button class="plus" > <i class="fas fa-minus"></i> </button> <div class="quantity-only"> 2 </div> <button class="plus" > <i class="fas fa-plus"></i> </button>
                            </div>
                            <div class="product-price">
                            $ 10.000
                            </div>
                        </div>
                        <div class="subtotal">
                            <div> Subtotal =  </div> <div> $20.000 </div>
                            
                        </div>
                        <button class="delete-item" > <i class="fas fa-trash-alt"></i> </button>
                </div>
            </article>
            <article>
                <div class="product_image">
                <img src="/images/slide3.jpeg" alt="" class="cartImg">
                </div>
                <div class="item-description">
                        <div class="product-name">
                            Nombre del artículo
                        </div>
                        <div class="product-numbers" >
                            <div class="product-quantity">
                                <button class="plus" > <i class="fas fa-minus"></i> </button> <div class="quantity-only"> 2 </div> <button class="plus" > <i class="fas fa-plus"></i> </button>
                            </div>
                            <div class="product-price">
                            $ 10.000
                            </div>
                        </div>
                        <div class="subtotal">
                            <div> Subtotal =  </div> <div> $20.000 </div>
                            
                        </div>
                        <button class="delete-item" > <i class="fas fa-trash-alt"></i> </button>
                </div>
            </article>
            <div class="purchase-summary">
                <div>Total compra: </div>
                <div>$ 119.999</div>
            </div>
            <div class="purchase-summary">
                <button class="delete-item" > Continuar compra </button>
                <button class="delete-item" > Eliminar todos <i class="fas fa-trash-alt"></i> </button>
            </div>
        </section>


    </main>

    <footer>

    </footer>


</body>
</html>