<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Producto</title>
    <!-- link a el css, siempre va ultimo -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="indexBody">
    <header>
        <h1><a href="./">Ask For Morfi</a></h1>
        <img src="/images/LOGO.png" alt="Logo" class="logo">
        <h4>Lo pedís, lo tenés!</h4>
    </header>

    <div class="catalogoP">

        <h2 class="C">COMIDAS</h2>
        <h2 class="P">POSTRES</h2>
        <h2 class="B">BEBIDAS</h2>

        <section class="menuC">

        <div class="divCat">
            <img src="/images/comida.jpg" alt="" class="imgCat">
        </div>
        <div class="divCat">
            <img src="/images/postre0.jpg" alt="" class="imgCat" id="imgPostre">
        </div>
        <div class="divCat">
            <img src="/images/bebida.jpg" alt="" class="imgCat">
        </div>

    </section>

    <section class="comida">
          
        <div class="Mv">
            <img src="/images/v1.jpg" alt="" class="imgMV">
            <h4>Nombre de comida</h4>
            <p>Caracteristicas</p>
            <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
        <div class="Mv">
            <img src="/images/v2.jpg" alt="" class="imgMV">
            <h4>Nombre de comida</h4>
            <p>Caracteristicas</p>
            <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
        <div class="Mv">
            <img src="/images/v3.jpg" alt="" class="imgMV">
            <h4>Nombre de comida</h4>
             <p>Caracteristicas</p>
             <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
        <div class="Mv">
            <img src="/images/v4.jpg" alt="" class="imgMV">
            <h4>Nombre de comida</h4>
             <p>Caracteristicas</p>
             <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
        <div class="Mv">
            <img src="/images/v5.jpg" alt="" class="imgMV">
            <h4>Nombre de comida</h4>
             <p>Caracteristicas</p>
             <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
    </section>

    <section class="postres">
        
        <div class="Mv">
            <img src="/images/postre1.jpg" alt="" class="imgMV">
            <h4>Nombre de postre</h4>
            <p>Caracteristicas</p>
            <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
        <div class="Mv">
            <img src="/images/postre2.jpg" alt="" class="imgMV">
            <h4>Nombre de postre</h4>
            <p>Caracteristicas</p>
            <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
       
    </section>

    <section class="bebidas">
        
        <div class="Mv">
            <img src="/images/bebida1" alt="" class="imgMV">
            <h4>Nombre de bebida</h4>
            <p>Caracteristicas</p>
            <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
        <div class="Mv">
            <img src="/images/bebida2.jpg" alt="" class="imgMV">
            <h4>Nombre de bebida</h4>
            <p>Caracteristicas</p>
            <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
       
    </section>
</div>
    <footer>
        <div>
        </div>
        <div class="copyrightFooter">
            © 2021 Ask For Morfi SRL | Todos los derechos reservados |
        </div>
    </footer>
</body>
</html>