<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link rel="shortcut icon" href="/images/iconoPestania.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap" rel="stylesheet">
        <!-- link a el css, siempre va ultimo -->
        <link rel="stylesheet" href="css/styles.css">
    </head>
<body class="bodyRegister">
    <header>
        <h1><a href="./">Ask For Morfi</a></h1>
        <img src="/images/LOGO.png" alt="Logo" class="logo">
        <h4>Lo pedís, lo tenés!</h4>
    </header>
    <main class="mainRegister">
    <form action="/registro" method="POST" class="registerForm">
    <h2>Ingresá tus datos y registrate</h2>
    <div>    

        <div>
            <input type="text" name="nombre" placeholder="Nombre" required>
        </div>
        <div>
            <input type="text" name="apellido" placeholder="Apellido" required>
        </div>
        <div>
            <input type="text" name="username" placeholder="Nombre de usuario" required>
        </div>
        <div>
            <label>Fecha de nacimiento:</label>
            <input type="date" name="fecha" required>
        </div>
        <div>
            <input type="email" name="mail" placeholder="E-mail" required>
        </div>
        <div>
            <input type="email" name="mail2" placeholder="Confirmar E-mail" required>
        </div>
        <div>
            <input type="password" name="clave" placeholder="Contraseña" required>
        </div>
        <div>
            <input type="password" name="clave2" placeholder="Confirmar Contraseña" required>
        </div>
        <div class="buttonDivForm">
            <button type="submit">Registrarse</button>
        </div>
    </div>
    </form>
    </main>
    <footer>
        <div>
        </div>
        <div class="copyrightFooter">
            © 2021 Ask For Morfi SRL | Todos los derechos reservados |
        </div>
    </footer>
</body>
</html>