<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log In</title>
        <link rel="shortcut icon" href="/images/iconoPestania.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <!-- link a el css, siempre va ultimo -->
        <link rel="stylesheet" href="css/styles.css">
    </head>
<body>
    <header>
        <h1><a href="./">Ask For Morfi</a></h1>
        <img src="/images/LOGO.png" alt="Logo" class="logo">
        <h4>Lo pedís, lo tenés!</h4>
    </header>
    <form action="/productos" method="POST">
        <h2>Ingresá tus datos y registrate</h2>
        <div>    
    
            <div>
                <input type="text" name="productname" placeholder="Nombre del Producto" required>
            </div>
            <div>
                <input type="text" name="descripcion" placeholder="Descripción del producto" required>
            </div>
            <div>
                <label>Categoría del producto:</label>
                <select name=categoria>
                    <option value=1>Categoría 1</option>
                    <option value=2>Categoría 2</option>
                    <option value=3>Categoría 3</option>
                    <option value=4>Categoría 4</option>
                    <option value=5>Categoría 5</option>
                </select>
            </div>
            <div>
                <label>Imagen del producto:</label>
                <input type="file" name="imagen" required>
            </div>
            <div>
                <input type="number" name="precio" placeholder="Precio del producto" required>
            </div>
            <div class="buttonDivForm">
                <button type="submit">Subir producto</button>
            </div>
        </div>
        </form>
    <footer>
        <div>
        </div>
        <div class="copyrightFooter">
            © 2021 Ask For Morfi SRL | Todos los derechos reservados |
        </div>
    </footer>
</body>
</html>