<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{tittle: 'Product Detail'}) %>
<body class="productDetail">
    <%- include('./partials/header') %>

    <div class="catalogoP">

    <section class="comida">

      <H2 class="tituloCom">COMIDAS</H2>
        <div class="Mv">
             <img src="/images/v1.jpg" alt="" class="imgMV"> 
            <h4>Nombre de comida</h4>
            <p>Caracteristicas</p>
          <div class="pre"> <p>Precio</p></div>
           <div  class="iconShop">Icono de compra</i></div>
        </div>
        <div class="Mv">
             <img src="/images/v2.jpg" alt="" class="imgMV"> 
            <h4>Nombre de comida</h4>
            <p>Caracteristicas</p>
            <div class="pre"> <p>Precio</p></div>
            <div class="iconShop">Icono de compra</i></div>
        </div>
        <div class="Mv">
            <img src="/images/v3.jpg" alt="" class="imgMV"> 
            <h4>Nombre de comida</h4>
             <p>Caracteristicas</p>
             <div class="pre"><p>Precio</p></div>
             <div  class="iconShop">Icono de compra</i></div>
        </div>
        <div class="Mv">
            <img src="/images/v4.jpg" alt="" class="imgMV">
            <h4>Nombre de comida</h4>
             <p>Caracteristicas</p>
             <div class="pre"> <p>Precio</p></div>
             <div  class="iconShop">Icono de compra</i></div>
        </div>
        <div class="Mv">
            <img src="/images/v5.jpg" alt="" class="imgMV">
            <h4>Nombre de comida</h4>
             <p>Caracteristicas</p>
             <div class="pre"> <p>Precio</p></div>
             <div  class="iconShop">Icono de compra</i></div>
        </div>
    </section>

    <section class="postres">
        <H2 class="tituloPost">POSTRES</H2>
        <div class="Mv">
            <img src="/images/postre1.jpg" alt="" class="imgMV">
            <h4>Nombre de postre</h4>
            <p>Caracteristicas</p>
            <div class="pre"> <p>Precio</p></div>
            <div  class="iconShop">Icono de compra</i></div>
        </div>
        <div class="Mv">
            <img src="/images/postre2.jpg" alt="" class="imgMV">
            <h4>Nombre de postre</h4>
            <p>Caracteristicas</p>
            <div class="pre"> <p>Precio</p></div>
            <div  class="iconShop">Icono de compra</i></div>
        </div>
       
    </section>

    <section class="bebidas">
        <H2 class="tituloBebida">BEBIDAS</H2>
        <div class="Mv">
            <img src="/images/bebida1.jpg" alt="" class="imgMV">
            <h4>Nombre de bebida</h4>
            <p>Caracteristicas</p>
            <div class="pre"> <p>Precio</p></div>
            <div  class="iconShop">Icono de compra</i></div>
        </div>
        <div class="Mv">
            <img src="/images/bebida2.jpg" alt="" class="imgMV">
            <h4>Nombre de bebida</h4>
            <p>Caracteristicas</p>
            <div class="pre"> <p>Precio</p></div>
            <div  class="iconShop">Icono de compra</i></div>
        </div>
       
    </section>
</div> 
 <%- include('./partials/footer') %>
</body>
</html>