<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{tittle: 'Product Detail'}) %>
<body class="indexBody">
    <%- include('./partials/header') %>
    <div class="catalogoP">

        <h2 class="C">COMIDAS</h2>
        <h2 class="P">POSTRES</h2>
        <h2 class="B">BEBIDAS</h2>

        <section class="menuC">

        <div class="divCat">
            <img src="/img/comida.jpg" alt="" class="imgCat">
        </div>
        <div class="divCat">
            <img src="/img/postre0.jpg" alt="" class="imgCat" id="imgPostre">
        </div>
        <div class="divCat">
            <img src="/img/bebida.jpg" alt="" class="imgCat">
        </div>

    </section>

    <section class="comida">
          
        <div class="Mv">
            <img src="/img/v1.jpg" alt="" class="imgMV">
            <h4>Nombre de comida</h4>
            <p>Caracteristicas</p>
            <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
        <div class="Mv">
            <img src="/img/v2.jpg" alt="" class="imgMV">
            <h4>Nombre de comida</h4>
            <p>Caracteristicas</p>
            <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
        <div class="Mv">
            <img src="/img/v3.jpg" alt="" class="imgMV">
            <h4>Nombre de comida</h4>
             <p>Caracteristicas</p>
             <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
        <div class="Mv">
            <img src="/img/v4.jpg" alt="" class="imgMV">
            <h4>Nombre de comida</h4>
             <p>Caracteristicas</p>
             <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
        <div class="Mv">
            <img src="/img/v5.jpg" alt="" class="imgMV">
            <h4>Nombre de comida</h4>
             <p>Caracteristicas</p>
             <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
    </section>

    <section class="postres">
        
        <div class="Mv">
            <img src="/img/postre1.jpg" alt="" class="imgMV">
            <h4>Nombre de postre</h4>
            <p>Caracteristicas</p>
            <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
        <div class="Mv">
            <img src="/img/postre2.jpg" alt="" class="imgMV">
            <h4>Nombre de postre</h4>
            <p>Caracteristicas</p>
            <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
       
    </section>

    <section class="bebidas">
        
        <div class="Mv">
            <img src="/img/bebida1" alt="" class="imgMV">
            <h4>Nombre de bebida</h4>
            <p>Caracteristicas</p>
            <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
        <div class="Mv">
            <img src="/img/bebida2.jpg" alt="" class="imgMV">
            <h4>Nombre de bebida</h4>
            <p>Caracteristicas</p>
            <p>Precio</p>
            <p>Agregar al carrito</p>
        </div>
       
    </section>
</div>
    <%- include('./partials/footer') %>
</body>
</html>