<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{tittle: 'Product Detail'}) %>
<body class="productDetail">
    <%- include('./partials/header') %>

    <div class="catalogoP">

    <section class="comida">
          
        <div class="Mv">
             <img src="/images/v1.jpg" alt="" class="imgMV"> 
            <h4>Nombre de comida</h4>
            <p>Caracteristicas</p>
          <div> <p>Precio</p></div>
           <div><p>Agregar al carrito</p></div>
        </div>
        <div class="Mv">
             <img src="/images/v2.jpg" alt="" class="imgMV"> 
            <h4>Nombre de comida</h4>
            <p>Caracteristicas</p>
            <div> <p>Precio</p></div>
            <div><p>Agregar al carrito</p></div>
        </div>
        <div class="Mv">
            <img src="/images/v3.jpg" alt="" class="imgMV"> 
            <h4>Nombre de comida</h4>
             <p>Caracteristicas</p>
             <div> <p>Precio</p></div>
             <div><p>Agregar al carrito</p></div>
        </div>
        <div class="Mv">
            <img src="/images/v4.jpg" alt="" class="imgMV">
            <h4>Nombre de comida</h4>
             <p>Caracteristicas</p>
             <div> <p>Precio</p></div>
             <div><p>Agregar al carrito</p></div>
        </div>
        <div class="Mv">
            <img src="/images/v5.jpg" alt="" class="imgMV">
            <h4>Nombre de comida</h4>
             <p>Caracteristicas</p>
             <div> <p>Precio</p></div>
             <div><p>Agregar al carrito</p></div>
        </div>
    </section>

    <section class="postres">
        
        <div class="Mv">
            <img src="/images/postre1.jpg" alt="" class="imgMV">
            <h4>Nombre de postre</h4>
            <p>Caracteristicas</p>
            <div> <p>Precio</p></div>
            <div><p>Agregar al carrito</p></div>
        </div>
        <div class="Mv">
            <img src="/images/postre2.jpg" alt="" class="imgMV">
            <h4>Nombre de postre</h4>
            <p>Caracteristicas</p>
            <div> <p>Precio</p></div>
            <div><p>Agregar al carrito</p></div>
        </div>
       
    </section>

    <section class="bebidas">
        
        <div class="Mv">
            <img src="/images/bebida1" alt="" class="imgMV">
            <h4>Nombre de bebida</h4>
            <p>Caracteristicas</p>
            <div> <p>Precio</p></div>
            <div><p>Agregar al carrito</p></div>
        </div>
        <div class="Mv">
            <img src="/images/bebida2.jpg" alt="" class="imgMV">
            <h4>Nombre de bebida</h4>
            <p>Caracteristicas</p>
            <div> <p>Precio</p></div>
            <div><p>Agregar al carrito</p></div>
        </div>
       
    </section>
</div> 
 <%- include('./partials/footer') %>
</body>
</html>